<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create cat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="card">
<form action="#" th:action="@{/catsApi/cat-create}" th:object="${cat}" method="post">
    <label for="name">Cat name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="age">Cat age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <input type="submit" value="Create Cat">
</form>
</div>
</body>
</html>