<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Edit cat</title>
<link rel="stylesheet" th:href="@{/styles/css/style.css}">
</head>
<body>
<form action="#" th:action="@{/catsApi/cat-update}" th:object="${cat}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br/>
    <label for="age">Last name</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <input type="submit" value="Update Cat">
</form>
</body>
</html>