<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
    <link rel="stylesheet" th:href="@{/style/css/style.css}">
</head>
<body>
<div th:switch="${cats}">
    <h2 th:case="null">No cats found!</h2>
    <div th:case="*">
        <h2>Cats</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat : ${cats}">
                <td th:text="${cat.id}"></td>
                <td th:text="${cat.name}"></td>
                <td th:text="${cat.age}"></td>
                <td><a th:href="@{/cat-update/{id}(id=${cat.id})}">Edit</a></td>
                <td><a th:href="@{/cat-delete/{id}(id=${cat.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/cat-create">Create cat</a></p>
</div>
</body>
</html>